.mePopContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 10px;

  .mePopWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: var(--border-radius) 0 var(--border-radius)
      var(--border-radius);
    background-color: #fcffe3;
    padding: 16px;
    box-shadow: var(--box-shadow);
    max-width: 70%;
    font-size: 15px;
    line-height: 1.5;
    white-space: pre-wrap;
    overflow: hidden;

    .mePopText {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      white-space: pre-wrap;
      word-wrap: break-word;
      word-break: break-all;
      background-color: "transparent";
      width: 100%;
      color: #000;

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      p {
        margin: unset;
        word-break: break-word;
      }

      .mePopLink {
        color: var(--link);
        cursor: pointer;
      }

      .mePopTextIcon {
        width: 20px;
        height: 20px;
        margin-left: 10px;
      }
    }

    .mePopAudio {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      white-space: pre-wrap;
      width: 100%;
      overflow: hidden;

      .mePopAudioPlayer {
        display: none;
      }
    }
  }
}
