.buy-power-container {
  .title {
    margin-bottom: 30px;
    font-family: SFProText-Semibold;
    font-size: 14px;
    color: #000000;
  }

  .powers {
    display: flex;

    .power-icon {
      margin-right: 20px;

      img {
        box-sizing: border-box;
        width: 110px;
        height: 110px;
        border-radius: 100%;
        border: 1px solid #F6F6F6;
      }
    }

    .power-amount {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: SFProText-Medium;
      font-size: 16px;
      color: #000000;

      .power-name {
        margin-bottom: 20px;
        opacity: 0.5;

        .x-mark {
          margin-left: 4px;
        }
      }

      .amount-input {
        display: flex;
        font-size: 18px;
        font-weight: 600;
        height: 30px;

        .minus-btn {
          display: flex;
          align-items: center;
          border-style: solid;
          box-sizing: border-box;
          border-color: #EEEEEE;
          border-radius: 15px 0 0 15px;
          border-width: 1px 0 1px 1px;
          padding: 0 10px;
        }

        .plus-btn {
          display: flex;
          align-items: center;
          border-style: solid;
          box-sizing: border-box;
          border-color: #EEEEEE;
          border-radius: 0 15px 15px 0;
          border-width: 1px 1px 1px 0;
          padding: 0 10px;
        }

        .amount-value {
          line-height: 18px;
          min-width: 44px;
          padding: 6px 10px;
          text-align: center;
          border-style: solid;
          box-sizing: border-box;
          border-color: #EEEEEE;
          border-width: 1px;
          font-family: SFProText-Semibold;
          font-size: 18px;
          color: #000000;
        }
      }
    }
  }

  .divider {
    width: 100%;
    height: 1px;
    background: #EEEEEE;
    margin: 15px 0;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .btn-container {
      display: flex;
      justify-content: center;
      width: 100%;

      .connect-btn {
        width: 320px;
        height: 60px;
        border-radius: 22px;
        background: #000000;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: 600;

        img {
          margin-right: 10px;
        }
      }
    }

    .total-price {
      display: flex;
      align-items: baseline;

      .label {
        font-family: SFProText-Medium;
        font-size: 14px;
        opacity: 0.5;
        margin-right: 4px;
      }

      .value {
        font-family: SFProText-Heavy;
        font-size: 20px;
      }
    }

    .buy-btn {
      width: 110px;
      height: 40px;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #E9FD52;
      font-family: SFProText-Heavy;
      font-size: 16px;
      color: #000000;
    }
  }
}