.chatContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  width: 100%;

  .chatWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    width: 100%;
    padding: 20px;
    transition: all 0.3s ease-in-out;

    .chatHeader {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      width: 100%;

      .chatHeaderButtons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        margin-bottom: 20px;

        .chatHeaderButton {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          width: 30px;
          height: 30px;
          background-color: rgba(0, 0, 0, 0.04);
          border-radius: 100%;
        }
      }

      .chatHeaderAvatar {
        width: 180px;
        height: 180px;
        flex-shrink: 0;

        img {
          width: 100%;
          height: 100%;
          border-radius: 100%;
        }
      }

      .chatHeaderInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        padding: 15px;
        width: 100%;
        background-color: #fff;
        border-radius: 0 var(--border-radius) var(--border-radius)
          var(--border-radius);
        box-shadow: var(--box-shadow);
      }
    }

    .chatContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      margin-top: 10px;
      margin-bottom: 90px;
    }
  }
}
