.aiPopContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 10px;

  .aiPopWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 0 var(--border-radius) var(--border-radius)
      var(--border-radius);
    background-color: #fff;
    padding: 16px;
    box-shadow: var(--box-shadow);
    max-width: 70%;
    font-size: 15px;
    line-height: 1.5;
    white-space: pre-wrap;
    overflow: hidden;

    .aiPopText {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      white-space: pre-wrap;
      word-wrap: break-word;
      word-break: break-all;
      background-color: "transparent";
      width: 100%;
      color: #000;

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      .aiPopTextIcon {
        width: 20px;
        height: 20px;
        margin-left: 10px;
      }
    }

    .aiPopAudio {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      white-space: pre-wrap;
      width: 100%;
      overflow: hidden;

      .aiPopAudioPlayer {
        display: none;
      }
    }

    .aiPopAction {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;

      .aiPopButtons {
        width: 100%;
        margin-bottom: 10px;

        .aiPopButton {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          font-weight: 700;
          border-radius: var(--border-radius);
          height: auto;

          .aiPopButtonIcon {
            margin-right: 10px;
          }
        }

        .aiPopButtonDark {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          font-weight: 700;
          border-radius: var(--border-radius);
          height: auto;
          color: #000;

          &:hover {
            color: #000;
          }
        }
      }
    }
  }

  .aiPopWrapperFull {
    max-width: 100%;
    width: 100%;
  }
}
