.selectModalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  .selectModalHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: var(--spacing) 0;

    .selectModalHeaderIcon {
      position: relative;
      width: 150px;
      height: 150px;
      margin-bottom: 20px;
      background-color: #faf5ff;
      border-radius: 50%;
      padding: var(--spacing);

      .selectModalHeaderIconImg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }

      .selectModalHeaderIconAvatar {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        border: 3px solid #fff;
        overflow: hidden;

        .selectModalHeaderIconAvatarImg {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .selectModalHeaderTitle {
      color: #000;
      font-size: 24px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      margin-top: 10px;
      text-transform: uppercase;
    }

    .selectModalHeaderSubtitle {
      color: #000;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-top: 10px;
    }

    .selectModalHeaderFlat {
      color: #999;
      text-align: center;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-top: 25px;
    }
  }

  .selectModalContent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 9px;
    margin-top: 20px;
    width: 100%;

    .selectModalContentItem {
      position: relative;
      border-radius: var(--border-radius);
      padding: var(--spacing-min);
      min-height: 70px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #faf5ff;
      box-shadow: var(--box-shadow);
      cursor: pointer;

      .selectModalContentItemPrice {
        color: #000;
        text-align: center;
        font-size: 15px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        width: 100%;
        word-wrap: break-word;
      }

      .selectModalContentItemPower {
        color: #000;
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 5px;
      }
    }

    .selectModalContentItemSelected {
      background-color: var(--secondary);
    }
  }

  .selectModalContentItemFull {
    position: relative;
    border-radius: var(--border-radius);
    padding: var(--spacing-min);
    min-height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #faf5ff;
    box-shadow: var(--box-shadow);
    width: 100%;
    margin-top: 9px;

    .selectModalContentItemPrice {
      color: #000;
      font-size: 15px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;

      span {
        color: #000;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }

    .selectModalContentItemPower {
      color: rgba(0, 0, 0, 0.5);
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-top: 5px;
    }

    .selectModalContentItemFullRight {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .selectModalContentItemFullPrice {
      color: rgba(0, 0, 0, 0.5);
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
      margin-bottom: 5px;
    }

    .selectModalContentItemFullControl {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      border: 1px solid #000;

      .selectModalContentItemFullControlMinus {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 9px;
        cursor: pointer;
      }

      .selectModalContentItemFullControlNumber {
        width: 60px;
        border-left: 1px solid #000;
        border-right: 1px solid #000;

        .selectModalContentItemFullControlNumberInput {
          width: 100%;
          height: 100%;

          :global(input) {
            text-align: center;
            font-size: 15px;
            font-weight: 700;
            padding: 5px;
          }
        }
      }

      .selectModalContentItemFullControlPlus {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 9px;
        cursor: pointer;
      }
    }
  }

  .selectModalContentItemButton {
    margin-top: 9px;
    font-weight: 700;
    margin-top: 15px;
    height: auto;
  }
}

.detailModalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  .detailModalHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: var(--spacing) 0;

    .detailModalHeaderIcon {
      position: relative;
      width: 150px;
      height: 150px;
      margin-bottom: 20px;
      background-color: #f2efff;
      border-radius: 50%;
      padding: var(--spacing);

      .detailModalHeaderIconImg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }

      .detailModalHeaderIconAvatar {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        border: 3px solid #fff;
        overflow: hidden;

        .indexModalContentCharacterLeftAvatarImg {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .detailModalHeaderTitle {
      color: #000;
      font-size: 20px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      text-transform: uppercase;
    }
  }

  .detailModalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.04);
    padding: 15px;
    width: 100%;

    .detailModalContentTitle {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .detailModalContentTitleLeftTitle {
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: capitalize;
      }

      .detailModalContentTitleRight {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        .detailModalContentTitleRightValue {
          color: #000;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          text-transform: capitalize;
        }

        .detailModalContentTitleRightIcon {
          margin-left: 5px;
        }
      }
    }

    .detailModalContentLine {
      width: 100%;
      height: 0.5px;
      background: #ddd;
      margin: 15px 0;
    }

    .detailModalContentTotal {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .detailModalContentTotalLeft {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .detailModalContentTotalLeftTitle {
          color: #000;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-transform: capitalize;

          span {
            color: #000;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: capitalize;
          }
        }

        .detailModalContentTotalLeftPrice {
          color: #999;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-transform: capitalize;
          margin-top: 5px;
        }
      }

      .detailModalContentTotalRight {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
      }
    }

    .detailModalContentBody {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-bottom: 10px;
      transition: all 0.3s ease-in-out;
      overflow: hidden;

      .detailModalContentBodyItem {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        &:not(:last-child) {
          margin-bottom: 10px;
        }

        .detailModalContentBodyItemTitle {
          color: #999;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-transform: capitalize;
        }

        .detailModalContentBodyItemValue {
          color: #000;
          text-align: right;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-transform: capitalize;
        }
      }
    }
  }

  .detailModalFooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.04);
    padding: 15px;
    margin-top: 10px;

    .detailModalFooterLeft {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      span {
        color: #999;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: capitalize;
        margin-left: 5px;
      }
    }

    .detailModalFooterRight {
      color: #000;
      text-align: right;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: capitalize;
    }
  }

  .detailModalFooterButton {
    font-weight: 700;
    margin-top: 15px;
    height: auto;

    &:hover {
      color: #000;
    }
  }
}
