.mePopContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 10px;

  .mePopWrapper {
    border-radius: 0 var(--border-radius) var(--border-radius)
      var(--border-radius);
    background-color: #fff;
    padding: 16px;
    box-shadow: var(--box-shadow);
    max-width: 70%;
    font-size: 15px;
    line-height: 1.5;
    white-space: pre-wrap;

    .audioMsg {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      white-space: pre-wrap;

      .audioMsgIcon {
        width: 20px;
        height: 20px;
        margin-left: 10px;
      }
    }
  }
}
