.selectModal {
  :global(.ant-modal-content) {
    background: var(--background);
  }
}

.selectModalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  .selectModalHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    .selectModalHeaderIcon {
      position: relative;
      width: 150px;
      height: 150px;
      margin-bottom: 20px;
      background-color: #fffade;
      border-radius: 50%;
      padding: var(--spacing);

      .selectModalHeaderIconImg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }

      .selectModalHeaderIconAvatar {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        border: 3px solid #fff;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 100%;
        }
      }
    }

    .selectModalHeaderTitle {
      color: #000;
      font-size: 24px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      margin-top: 10px;
    }

    .selectModalHeaderSubtitle {
      color: #000;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-top: 10px;
    }
  }

  .selectModalContent {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 9px;
    margin-top: 20px;
    width: 100%;

    .selectModalContentItem {
      position: relative;
      border-radius: var(--border-radius);
      padding: var(--spacing-min);
      min-height: 70px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #fffade;
      box-shadow: var(--box-shadow);

      .selectModalContentItemPrice {
        color: #000;
        text-align: center;
        font-size: 15px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
      }

      .selectModalContentItemPower {
        color: rgba(0, 0, 0, 0.5);
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 5px;
      }
    }
  }

  .selectModalContentItemFull {
    position: relative;
    border-radius: var(--border-radius);
    padding: var(--spacing-min);
    min-height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fffade;
    box-shadow: var(--box-shadow);
    width: 100%;
    margin-top: 9px;

    .selectModalContentItemPrice {
      color: #000;
      font-size: 15px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;

      span {
        color: #000;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }

    .selectModalContentItemPower {
      color: rgba(0, 0, 0, 0.5);
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}
