.selectModal {
  :global(.ant-modal-content) {
    background: var(--background);
  }
}

.selectModalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  .selectModalHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    .selectModalHeaderIcon {
      width: 150px;
      height: 150px;
      margin-bottom: 20px;
      background-color: #fffade;
      border-radius: 50%;
    }
  }
}
