.inputBoxContainer {
  position: relative;
  width: 100%;
  transition: all 0.2s ease-in-out;

  .inputBoxWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 16px;
    border-radius: 32px 32px 0 0;
    background-color: #fff;
    transition: all 0.2s ease-in-out;
    box-shadow: 0px -2px 20px rgba(0, 0, 0, 0.1);

    .inputBoxWrapperRow {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      overflow: hidden;
    }

    .inputBoxWrapperTip {
      color: rgba(0, 0, 0, 0.3);
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 10px;
      height: 20px;
    }

    .inputBox {
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: calc(100% - 55px);
      background: #f7f7f7;
      height: 50px;
      border-radius: var(--border-radius);
      padding: 12px 16px;
      transition: all 0.2s ease-in-out;

      .inputBoxSwitch {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        .inputBoxSwitchIcon {
          width: 24px;
          height: 24px;
          fill: #000;
          transition: all 0.2s ease-in-out;
        }
      }

      .inputBoxInput {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 25px;
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;

        .inputBoxInputInput {
          height: 100%;
          padding: unset;
        }
      }

      .inputBoxSend {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        .inputBoxSendIcon {
          width: 24px;
          height: 24px;
          fill: #000;
          transition: all 0.2s ease-in-out;
        }
      }

      .inputRecordContainer {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;

        .inputBoxRecorder {
          display: none;
        }

        .inputBoxRecord {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          color: #000;
          font-weight: 700;

          span {
            z-index: 2;
          }
        }

        .inputBoxRecordActive {
          display: flex;
          align-items: center;
          justify-content: center;

          &::before {
            content: "";
            position: absolute;
            width: 100px;
            height: 100px;
            background-color: rgba(234, 253, 83, 0.8);
            border-radius: 100%;
            animation: inputBoxRecordAnimation 3s infinite;
          }
        }
      }
    }

    .buyButton {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      border-radius: 100%;
      background-color: #eafd53;
      font-weight: 700;
      font-size: 18px;
      text-transform: uppercase;
      margin-right: 5px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
    }
  }
}

@keyframes inputBoxRecordAnimation {
  0% {
    transform: scale(0.1);
    opacity: 0.9;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
